#DirectionsContainer {
    width: 30vw;
    height: 100vh;
    position: fixed;
    background-color: #FFF;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    box-shadow: 1px 1px 20px #616161;
  }
    
  #DirectionsContainer.hide {
    transform: translate3d(-100vw, 0, 0);
  }
    
  #DirectionsContainer.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
    
  #DirectionsContainer h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
  }
    
  #DirectionsContainer h2 a:hover {
    text-decoration: underline;
  }

  #DirBackButtonContainer {
    text-align: right;
    background-color: #8e44e3;
    padding-right: 2px;
    padding-top: 2px;
  }
  
  .DirBackButton {
    background: #8e44e3;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
  }
  
  .DirBackButton:hover {
    background: white;
    color: #8e44e3;
  }
  
  #DirTitleContainer {
    background-color: #8e44e3;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  #DirItemsContainer {
    margin: 30px 30px;
  }

  #DirectionItems {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffe8eb;
    border: 2px solid #ff425f;
    line-height: 120%;
  }

  .innerDirections{
    padding-left: 20px;
}

.innerDirectionsOther{
  padding-left: 20px;
  padding-top: 15px;
}

  #DirectionNumber {
    text-align: center;
    color: #ff425f;
    font-size: 30px;
    font-weight: bold;
    line-height: 78%;
  }

  