#PlanYourTripContainer {
  width: 30vw;
  height: 100vh;
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  box-shadow: 1px 1px 20px #616161;
}
  
#PlanYourTripContainer.hide {
  transform: translate3d(-100vw, 0, 0);
}
  
#PlanYourTripContainer.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
  
#PlanYourTripContainer h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
  
#PlanYourTripContainer h2 a:hover {
  text-decoration: underline;
}

.innerForm{
  width: 397px;
  margin: 0px auto;
  position:relative;
}

.SwitchLogo {
  width: 50px;
  height: 50px;
  background: url("images/switch_icon.png") no-repeat;
  background-size: 35px;
  pointer-events: all;
}

.SwitchLogo:hover {
  background: url("images/switch_icon_hover.png") no-repeat;
  background-size: 35px;
  pointer-events: all;
}

#SwitchLogoContainer{
  display:inline-block;
  position: relative;
  height: 100%;
  top: -20px;
  padding-left: 5px;
}

#InputFieldsContainer{
  display:inline-block;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 10px
}

#AdditionalOptionsContainer{
  text-align: center;
}

#FindRoute{
  padding-top:15px;
}

#CloseButtonContainer {
  text-align: right;
  background-color: #8e44e3;
  padding-right: 2px;
  padding-top: 2px;
}

.CloseButton {
  background: #8e44e3;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  border-style: none;
}

.CloseButton:hover {
  background: white;
  color: #8e44e3;
}

#TitleContainer {
  background-color: #8e44e3;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.FindRouteButton {
  padding: 5px 10px 5px 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: #ff425f;
  border: 1px solid #ff425f;
}

.FindRouteButton:hover {
  color: #ff425f;
  background-color: white;
}

.OptionsButton {
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: #ff425f;
  border: 1px solid #ff425f;
}

.OptionsButton:hover {
  color: #ff425f;
  background-color: white;
}

#RoutesBox {
  height: calc(100vh - 440px);
  overflow-y: scroll;
  margin-top: 20px;
}

.RoutesOption {
  padding: 10px;
  background-color: #8e44e3;
  border-radius: 10px;
  margin-bottom: 5px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
}

.RoutesOption:hover {
  opacity: 0.7;
}

.leftBox {
  display: inline;
  float: left;
  color: white;
  line-height: 150%;
  font-weight: bold;
  font-size: 17px;
}

.rightBox {
  display: inline;
  float: right;
  color: white;
  line-height: 150%;
  font-size: 17px;
  text-align: right;
}

#AddOptionsMenu {
  text-align: left;
  width: 170px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#TimeOptionsContainer {
  text-align: left;
  margin-bottom: 40px;
  line-height: 200%;
  margin-left: 10px;
}