#BusRoutesButton {
    position: absolute !important;
    top: 0vw;
    right: 0vw;
    background: #8e44e3;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid #8e44e3;
    margin-top: 10px;
    margin-right: 70px;
}

#BusRoutesButton:hover {
    background: white;
    color: #8e44e3;
}